<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hotel Urbano (Prova)</title>
	<link rel="stylesheet" href="/css/style{{assetFile}}.css">
</head>
<body>
<div class="container">
	{{{body}}}
</div>
<script src="/js/main{{assetFile}}.js"></script>
</body>
</html>